#dash-main {
	margin-top: 20px;
}

.user-name {
	margin-bottom: 0;
}


.user-panel .accttype {
	margin: 4px 0;
}

.dash-links {

}
.dash-links li{
	padding: 10px 25px;
}
.dash-links li.active {
	border-bottom: 2px solid #E74C3C;
	margin-bottom: -2px;
}

.dash-links li:hover {
	margin-bottom: -1px;
	border-bottom: 1px solid #E74C3C;
}

.dash-links a {
	font-weight: 400;
	text-decoration: none;
}

.previews {
	padding: 20px 0 40px 0;
}

.preview {
padding: 5px 15px 15px 15px;
margin-bottom: 4px;
background: #FFF;
}

.preview ul{
	padding: 0;
	list-style: none;
}

.previews ul li {
	padding: 10px 0;
	border-bottom: 1px solid #DFDFDF;
}


.toggle-edit {
}

.toggle-edit a {
	color: #E74C3C;
	border-radius: 100% !important;
	border: 1px solid #E74C3C;
	padding: 10px 14px;
}
	.toggle-edit a:hover {
		border: 0;
		background-color: #E74C3C;
		color: #FFF;
	}
